*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
      overscroll-behavior: none;
  touch-action: none;
}



section{
    height: 100vh;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-image: url(aaabstract.jpeg);
    /* background-color: #222; */
    color: #ffff;
    gap: 20px;
}

.infos{
    display: flex;
    justify-content: space-between;
}

.info {
    border: 2px solid white;
    padding: 2px 10px;
    border-radius: 10px;
}


.board{
    border: 2px solid white;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
}

.block{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    /* border: 1px solid white; */
}

.snakefill{
    background-color: blue;
    transition: all 0.1s linear;
}

.food{
    background-color: green;
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #464343b3;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn{
    width: max-content;
    font-size: 24px;
    border: 1px solid gray;
    box-shadow: 3px 5px black;
    padding: 8px 12px;
    border-radius: 10px;
}

.modal .start-game ,.modal .game-over{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal .btn-start{
    background-color: green;
}

.modal .btn-restart{
    background-color: #3a3939;
}

.modal .game-over{
    display: none;
}


@media (max-width: 480px) {
    section {
        padding: 20px;
        gap: 2px;
    }

    .infos {
        gap: 5px;
    }

    .info {
        width: 100%;
        text-align: left;
        font-size: 8px;
    }

    .board {
        margin-top: 1rem;
    }
}


@media (min-width:481px) and (max-width: 768px) {
    section {
        padding: 1.5rem;
    }

    .info {
        font-size: 15px;
    }
}





